*{
    box-sizing:border-box;}

@keyframes Charging{

    50%{
        opacity:0.1;
    }
    100%{
        opacity:1;
    }
}



body{
    background: linear-gradient(to right, #1FA2FF, #12D8FA, #A6FFCB );
     overflow-y:hidden;
     overflow-x:hidden;
}

.section::before{
    content: '';
    background:linear-gradient(to right bottom, rgba(255, 255, 255, 0.80), rgba(255, 255, 255, 0.3));
    width: 300px;
    height:300px;
    position:absolute;
    bottom:65%;
    left: 55%;
    border-radius:50%;
    }

   .section::after{
    content: '';
    background:linear-gradient(to right bottom, rgba(255, 255, 255, 0.80), rgba(255, 255, 255, 0.3));
    width: 200px;
    height:200px;
    position:absolute;
    bottom:-6%;
    left: 25%;
    border-radius:50%;
    z-index: -1;
   }
   .card{

    width: 350px;
    height:450px;
background-color:blueviolet;
backdrop-filter: blur(7 px);
border-radius:20px;
margin: 5% 5% 25% 35%;
   }

   .batareeShape{
       display:flex;
       justify-content: center;
       min-height:450px;
       flex-direction:column;
       align-items:center;

   }

   .battareborder{
border:3px solid black;
width:180px;
height:80px;
border-radius:10px;
position:relative;
   }

   .percetange{

    background:linear-gradient(to left, #626474, #004e92);
    width:50%;
    position:absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    right: 4px;
    border-radius: 5px;
        }
   .foiz{
       margin-top:50%;
       text-align:center;
       font-size:15px;
       font-weight: 700;
   }
   .charging{
       text-align: center;
       font-size: 25px;
       font-weight: 700;
       animation: Charging 2s ease-in-out infinite;
   }

   @media screen and (max-width:370px){
       .card{
           width:300px;
           height:450px;
           margin:25% avto;
       }
       .section::before{
           position:absolute;
           bottom:5%;
           left:30%;
           width:200px;
           height:200px;
       }
       .charging{
           font-size:25px;
       }
   }
       
   